{{define "armors/list"}}

{{template "header" .}}

<style>
    table {
      /* font-family: arial, sans-serif; */
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      /* border: 1px solid #dddddd; */
      text-align: left;
      padding: 8px;
    }
    
    /* tr:nth-child(even) {
      background-color: #dddddd;
    } */
</style>

<div class="container text-light">
    <br>
    <h2 class="text-center">Armor Sets</h2>
    <br>
    <table class="table table-bordered text-light">
      <thead>
        <tr>
          <th scope="col">Set Name</th>
          <th scope="col">Added Effects</th>
          <th scope="col">Armor Items</th>
        </tr>
      </thead>
      <tbody>
        {{range .ArmorSet}}
        <tr>
            <th>
              <h4>{{.SetName}}</h4>
            </th>
            <th>
              <ul>
                {{range .SetEffect}}
                <li>{{.}}</li>
                {{end}}
              </ul>
            </th>
            <th>
              {{range .Tag}}
                <a href="/armor/view/{{.ID.Hex}}" class="link btn-secondary p-1" style="width: 8rem;height: 2rem;">{{.HeadGear}}</a>
              {{end}}  
            </div>
            </th>
        </tr>
        {{end}}
      </tbody>
    </table>
</div>
{{template "footer" .}}

{{end}}