{{define "armors/list"}}

{{template "header" .}}

<div class="contain-fluid py-4 text-light">
    <div class="d-flex flex-row justify-content-around align-content-between flex-wrap">
            
        {{range .Armors}}
        <a href="/armor/view/{{.ID.Hex}}" class="btn btn-secondary p-1" style="width: 8rem;height: 2rem;">{{.Name}}</a>
        {{end}}
    </div>

</div>

{{template "footer" .}}

{{end}}