{{define "armors/list"}}

{{template "header" .}}

    <div class="album py-4 bg-secondary">
        <div class="container">

            <div class="row">
                {{range .Armors}}
                <div class="col-md-2 p-3">
                    <div class="card mb-3 shadow-sm bg-dark">
                        <div class="card-body">
                            <img class="mx-auto d-block" src={{.ImageUrl}} alt="Hylian-hood" width="80" height="80">
                            <a href="/armor/view/{{.ID.Hex}}" class="btn btn-muted text-light p-1" role="link">{{.Name}}</button>
                        </div>
                    </div>
                </div>
                {{end}}
            </div>

        </div>
    </div>

{{template "footer" .}}

{{end}}