{{define "armors/view"}}

{{template "header" .}}

<div class="container-fluid py-5">
    <div class="container text-light">
        <h1 class="text-center">{{.SetName}}</h1>
        {{range .ArmorItems}}
            <h2>{{.Name}}</h2><hr>
            <ul>
                <h5><li>How To Obtain</li></h5>
                <p>{{.HowToObtain}}</p>
                <h5><li>Upgrade</li></h5>
                {{if .Upgrade.FirstUpgrade.Bonus}}
                <p>This Armor can be dyed upgraded by the Great Fairy Fountains.</p>
                <table class="table table-bordered text-light" style="width: 40%;">
                    <thead>
                      <tr>
                        <th scope="col" style="text-align: center;">Upgrade</th>
                        <th scope="col" style="text-align: center;">Bonus</th>
                        <th scope="col" style="text-align: center;">Materials Needed</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>First Upgrade</th>
                            {{with .Upgrade.FirstUpgrade}}
                                <th>{{.Bonus}}</th>
                                <th>
                                    {{range .Materials}}
                                    {{.}}
                                    <br>
                                    {{end}}
                                </th>
                            {{end}}
                        </tr>
                        <tr>
                            <th>Second Upgrade</th>
                            {{with .Upgrade.SecondUpgrade}}
                                <th>{{.Bonus}}</th>
                                <th>
                                    {{range .Materials}}
                                    {{.}}
                                    <br>
                                    {{end}}
                                </th>
                            {{end}}
                        </tr>
                        <tr>
                            <th>Third Upgrade</th>
                            {{with .Upgrade.ThirdUpgrade}}
                                <th>{{.Bonus}}</th>
                                <th>
                                    {{range .Materials}}
                                    {{.}}
                                    <br>
                                    {{end}}
                                </th>
                            {{end}}
                        </tr>
                        <tr>
                            <th>Final Upgrade</th>
                            {{with .Upgrade.FinalUpgrade}}
                                <th>{{.Bonus}}</th>
                                <th>
                                    {{range .Materials}}
                                    {{.}}
                                    <br>
                                    {{end}}
                                </th>
                            {{end}}
                        </tr>
                    </tbody>
                </table>
                {{else}}
                <p>This Armor cannot be upgraded.</p>
                {{end}}
            </ul>
            <br>
        {{end}}
    </div>
</div>

{{template "footer" .}}

{{end}}