{{define "armors/view"}}

{{template "header" .}}

<div class="container-fluid py-5">
    <div class="container text-light">
        <h2 class="text-center">{{.Name}}</h2>
        <h3>Characteristics</h3><hr>
        <ul>
            {{range .Characteristic}}
            <li>{{.}}</li>
            {{end}}
        </ul>
        <br>
        <h3>Locations Founded</h3><hr>
        <p>{{.Location}}</p>
        <br>
        <h3>Upgrade</h3><hr>
        <p>{{.Upgrade}}</p>
    </div>
</div>

{{template "footer" .}}

{{end}}