{{define "home"}}

{{template "header" .}}

<div class="container-fluid text-light">
    <h1 class="text-center">Info</h3>
    <ul style="margin-left: 20%;"> 
        <li><a class="nav-link" href="/armor/list">Armor Sets</a></li>
        <li>item 2</li>
        <li>item 3</li>
    </ul>
</div>


{{template "footer" .}}

{{end}}